/* You can add global styles to this file, and also import other style files */


.blue {
  color: rgb(79,134,236);
}

.red {
  color: rgb(217,80,63)
}

.yellow {
  color: rgb(242,189,66)
}

.green {
  color: rgb(88,165,92)
}

.gray {
  color: #5f6368;
}

body {
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
